{% extends "base.html" %}

{% block javascript %}
    <script src="http://openlayers.org/api/OpenLayers.js"></script>
    <script type="text/javascript">
        var mapa, layer;

        function init(){
            OpenLayers.ProxyHost="/proxy/?url=";

            var options = { controls: [
                new OpenLayers.Control.Navigation(),
                new OpenLayers.Control.KeyboardDefaults(),
                new OpenLayers.Control.PanZoomBar(),
                new OpenLayers.Control.Scale(),
                new OpenLayers.Control.Attribution()
            ]};

            mapa = new OpenLayers.Map('mapa', options);
            layer = new OpenLayers.Layer.WMS( "OpenLayers WMS",
                "http://vmap0.tiles.osgeo.org/wms/vmap0", {layers: 'basic'} );


          /*  mapa.addLayer(layer);*/
            mapa.addLayer(new OpenLayers.Layer.OSM());
            mapa.setCenter(new OpenLayers.LonLat(35, 32).transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            new OpenLayers.Projection("EPSG:900913") // to Spherical Mercator Projection
          ), 8);

            var markers = new OpenLayers.Layer.Markers( "Markers" );
            mapa.addLayer(markers);

            var x = null;
            var y = null;

            {% for p in points %}
            {   x = "{{p.point.x}}";
                y = "{{p.point.y}}";

                var size = new OpenLayers.Size(21, 25);
		        var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
                var icon = new OpenLayers.Icon('http://www.openstreetmap.org/openlayers/img/marker.png',size,offset);

                var onClick = function(evt){
                    var pnt = (new OpenLayers.LonLat("{{p.point.x}}","{{p.point.y}}")).transform(
                          new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                          new OpenLayers.Projection("EPSG:900913") // to Spherical Mercator Projection
                          );
                        popup = new OpenLayers.Popup.FramedCloud("chicken",
                          pnt,
                          new OpenLayers.Size(200,200),
                           new String("<b>{{p.subject}}</b> <p>{{p.description}}</p> <p>Date Added: {{p.date_added}}</p> <p>Added By: {{p.user}}</p> <p> <a href=\"{% url map_info.views.view_detailed p.id %}\" > more info </a> </p>"),
                           icon,
                        true);
                        mapa.addPopup(popup);
               }

                var pnt = (new OpenLayers.LonLat("{{p.point.x}}","{{p.point.y}}")).transform(
                          new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                          new OpenLayers.Projection("EPSG:900913") // to Spherical Mercator Projection
                          );

                marker = new OpenLayers.Marker(pnt);
                marker.events.register('mousedown', marker, onClick);
                markers.addMarker(marker);

            }

            {% endfor %}

            mapa.addControl(new OpenLayers.Control.LayerSwitcher());

       /*
                Navigate to home!!
           var panel = new OpenLayers.Control.Panel();
           panel.addControls([
                new OpenLayers.Control.Button({
                    displayClass: "helpButton", trigger: function() {alert('help')}, title: 'Help'
                })
           ]);
            map.addControl(panel);

       */
            mapa.events.register('click', mapa, handleMapClick);
           // mapa.zoomToMaxExtent();

        }


            function handleMapClick(evt)
    {
       var lonlat = map.getLonLatFromViewPortPx(evt.xy);
       // use lonlat
       alert(lonlat);
    }

         function search(){
             var point_str = document.getElementById('point').value;
             var list = point_str.split(",");
             var x = parseFloat(list[0]);
             var y = parseFloat(list[1]);
             mapa.setCenter(new OpenLayers.LonLat(x, y), 10);
         }


    </script>

{% endblock %}


{% block title %}Home Page{% endblock%}

{% block tools %}
    <div class = "Search" align="center">
        <input type="text" id ="point" size="40">
        <button type="button" onclick="search()">Search</button>
    </div>
{% endblock %}

{% block right %}<div id="mapa" class="bigmap" align="center"></div>{% endblock %}