{% extends "base.html" %}

{% block javascript %}
    <script src="http://openlayers.org/api/OpenLayers.js"></script>
    <script type="text/javascript">
        var mapa, layer;

        function init(){
            OpenLayers.ProxyHost="/proxy/?url=";
            mapa = new OpenLayers.Map('mapa');
            layer = new OpenLayers.Layer.WMS( "OpenLayers WMS",
                "http://vmap0.tiles.osgeo.org/wms/vmap0", {layers: 'basic'} );


            mapa.addLayer(layer);
            mapa.setCenter(new OpenLayers.LonLat(35, 32), 8);

            var markers = new OpenLayers.Layer.Markers( "Markers" );
            mapa.addLayer(markers);

            var x = null;
            var y = null;

            {% for p in points %}
            {   x = "{{p.point.x}}";
                y = "{{p.point.y}}";

                var onClick = function(evt){
                        popup = new OpenLayers.Popup("chicken",
                          new OpenLayers.LonLat("{{p.point.x}}","{{p.point.y}}"),
                          new OpenLayers.Size(200,200),
                           new String("<b>{{p.subject}}</b> <p>{{p.description}}</p> <p>Date Added: {{p.date_added}}</p> <p>Added By: {{p.user}}</p> <p> <a href=\"{% url map_info.views.view_detailed p.id %}\" > more info </a> </p>"),
                        true);
                        mapa.addPopup(popup);
               }

                marker = new OpenLayers.Marker(new OpenLayers.LonLat(x,y));
                marker.events.register('mousedown', marker, onClick);
                markers.addMarker(marker);

            }

            {% endfor %}

            mapa.addControl(new OpenLayers.Control.LayerSwitcher());

            mapa.events.register('click', mapa, handleMapClick);
           // mapa.zoomToMaxExtent();

        }


            function handleMapClick(evt)
    {
       var lonlat = map.getLonLatFromViewPortPx(evt.xy);
       // use lonlat
       alert(lonlat);
    }

         function search(){
             var point_str = document.getElementById('point').value;
             var list = point_str.split(",");
             var x = parseFloat(list[0]);
             var y = parseFloat(list[1]);
             mapa.setCenter(new OpenLayers.LonLat(x, y), 10);
         }


    </script>

{% endblock %}


{% block title %}Home Page{% endblock%}

{% block tools %}
    <div class = "Search" align="center">
        <input type="text" id ="point" size="40">
        <button type="button" onclick="search()">Search</button>
    </div>
{% endblock %}

{% block right %}<div id="mapa" class="bigmap" align="center"></div>{% endblock %}