<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Map</title>
   <!-- <link rel="stylesheet" href="../theme/default/style.css" type="text/css" />-->
   <!-- <link rel="stylesheet" href="style.css" type="text/css" />-->>
    <script src="http://openlayers.org/api/OpenLayers.js"></script>
    <script type="text/javascript">
        var mapa, layer;

        function init(){
            OpenLayers.ProxyHost="/proxy/?url=";
            mapa = new OpenLayers.Map('mapa');
            layer = new OpenLayers.Layer.WMS( "OpenLayers WMS",
                "http://vmap0.tiles.osgeo.org/wms/vmap0", {layers: 'basic'} );

            mapa.addLayer(layer);
            mapa.setCenter(new OpenLayers.LonLat(0, 0), 0);

            var markers = new OpenLayers.Layer.Markers( "Markers" );
            mapa.addLayer(markers);

            var size = new OpenLayers.Size(21,25);
            var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);



            var x = null;
            var y = null;
         //   var msg = null;


            {% for p in points %}
            {   x = "{{p.point.x}}";
                y = "{{p.point.y}}";
                var msg = "{{p.subject}}";
                var msg2 = new String(msg);
                //var msg2 = "{{points.3.subject}}";

                marker = new OpenLayers.Marker(new OpenLayers.LonLat(x,y));
                marker.setOpacity(0.2);
                marker.events.register('mousedown', marker, function(evt) { alert(msg2); OpenLayers.Event.stop(evt); });
                markers.addMarker(marker);
            }

            {% endfor %}


            mapa.addControl(new OpenLayers.Control.LayerSwitcher());
            mapa.zoomToMaxExtent();

            halfIcon.setOpacity(0.5);
        }
    </script>
  </head>
  <body onload="init()">
    <div id="menu">
            {% block nav-global %}

                <a href="www.google.com">Admin</a>
                <a href="wwww.google.com">Add post</a>

            {% endblock %}

    </div>
    <div id="mapa" class="smallmap" align="center"></div>
  </body>
</html>