<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>

    {% block javascript %}
        <script type="text/javascript">
            function init(){
            }
        </script>
    {% endblock %}

	<title>{% block title%}oMap{% endblock %}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/media/style/style.css" type="text/css" media="screen" />

    {% block style %} {% endblock %}
    

</head>

<body onload="init()">
    <div id="page">
         <div id="bg1"></div>
        <div id="bg2">
            <div id="menu">
                <div class="clear"></div>
                <!-- navigation items -->
                <ul id="list-nav">
                    <li><a href="{% url map_info.views.main %}" class="list-nav-link" title="Home">Home</a></li>
                    {% if user %}
                        {% if user.is_authenticated %}
                            {% if user.is_staff %}
                                <li><a href="{% url admin:index %}" class="list-nav-link">Admin</a></li>
                            {% endif %}
                            {% if perms.map_info %}
                                <li><a href="{% url map_info.views.add_point %}" class="list-nav-link">Points</a></li>
                            {% endif %}
                            <li><a href="{% url accounts.views.profile %}" class="list-nav-link">Profile</a></li>
                            <li><a href="{% url accounts.views.logout %}" class="list-nav-link">Log out</a></li>

                        {% else %}
                            <li><a href="{% url accounts.views.mylogin %}" class="list-nav-link">Log in</a></li>
                        {% endif %}

                     {% else %}
                        <li><a href="{% url accounts.views.mylogin %}" class="list-nav-link">Log in</a></li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                    <div id="username">
                        Welcome, {{user.username}}
                    </div>
                {% endif %}

                 <div class="clear"></div>

            </div>

            <div id="tools">
                {% block tools %}
                {% endblock %}
            </div>

            <div id="content">
                <div id="left">
                    {% block left %}
                        <h2>Sidebar</h2>
                        <p class="italic">This bar will display the recent posts in the future</p> {% endblock %}
                </div>

                <div id="right">
                    {% block right %}{% endblock %}
                </div>

                <div class="clear"></div>
            </div> <!-- content-->

    </div> <!-- pg2-->

        <div id="footer">
           {% block footer %}Developed by oMap team. Enjoy!{% endblock %}
        </div> <!-- footer-->

    </div> <!-- page-->
</body>

</html>